<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HEXAGON Messenger : 로비</title>
    <link rel="stylesheet" th:href="@{/css/chatLobby.css}">
    <link rel="stylesheet" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<div id="lobby-container">
    <table id="lobby-list">
        <thead>
        <tr>
            <th><h4>채팅 목록</h4></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${list}">
            <td><i class="bi bi-chat-left-dots-fill"></i><a th:href="@{/chat/room(roomId=${room.roomId})}">[[${room.roomName}]]</a></td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/chat/room}" method="post" id="create-room">
        <input type="text" name="roomName" class="form-control">
        <input type="hidden" name="memberId" th:value="${username}">
        <button type="submit" class="btn-chat">채팅방 개설</button>
    </form>
</div>

<script th:inline="javascript">
    $(document).ready(function () {

        let roomName = [[${roomName}]];

        if (roomName != null)
            alert(roomName + "방이 개설되었습니다.");

        $(".btn-create").on("click", function (e) {
            e.preventDefault();

            let roomName = $("input[name='roomName']").val();

            if (roomName == "")
                alert("방 이름을 꼭 입력하세요")
            else
                $("form").submit();
        });
    });
</script>
</body>
</html>
