<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/memberSave.css}">
    <link rel="stylesheet" th:href="@{/css/buttons.css}">
    <!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div th:replace="/components/header :: header"></div>
<div id="member-save-section">
    <form action="/member/save" method="post" id="save-form">
        <h2>회원가입</h2>
        <input type="hidden" name="id">
        <div class="input-area">
            <p>ID</p>
            <input type="text" name="memberId" placeholder="사용하실 ID를 입력하세요." id="member-Id" onblur="email_check()"><br>
            <p id="check-result">
            <span id="correct"
                  style="color:#00d01b; margin-top: 0px; margin-bottom: 20px; display:none"> 사용가능한 아이디입니다. </span>
                <span id="incorrect"
                      style="color:red; margin-top: 0px; margin-bottom: 20px; display:none"> 이미 사용중인 아이디입니다. </span>
            </p>
        </div>
        <div class="input-area">
            <p>이메일 주소</p>
            <input type="text" name="memberEmail" placeholder="이메일 주소를 입력하세요." id="member-email" class="form-control"><br>
        </div>
        <div class="input-area">
            <p>비밀번호</p>
            <input type="text" name="memberPassword" placeholder="비밀번호를 입력하세요."><br>
        </div>
        <div class="input-area">
            <p>이름</p>
            <input type="text" name="memberName" placeholder="이름을 입력하세요."><br>
        </div>
        <div class="input-area">
            <p>생년월일</p>
            <input type="date" name="memberBirth"><br>
        </div>
        <div class="input-area">
            <p>전화번호</p>
            <input type="text" name="memberMobile" placeholder="010-****-****"><br>
        </div>
        <input type="submit" value="회원가입">
    </form>
</div>
<div th:replace="/components/footer :: footer"></div>
</body>
<script th:inline="javascript">
    const email_check = () => {
        document.querySelector("#correct").style.display = "none";
        document.querySelector("#incorrect").style.display = "none";
        const id = document.querySelector("#member-Id").value;
        axios({
            method: "post",
            url: "/member/dup-check",
            data: {
                memberId: id
            }
        }).then(res => {
            document.querySelector("#correct").style.display = "block";
        }).catch(err => {
            document.querySelector("#incorrect").style.display = "block";
        });

    }
</script>
</html>