<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/buttons.css}">
    <!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div th:replace="/components/header :: header"></div>
<div id="section">
    <p th:text="${session.loginId}">님 어서오세요</p>
    <button onclick="member_update()">회원 정보 수정</button>

</div>
<div th:replace="/components/footer :: footer"></div>
</body>
<script>
    const member_update=()=>{
        location.href="/member/update";
    }
</script>
</html>