<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/memberLogin.css}">
    <link rel="stylesheet" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div th:replace="/components/header :: header"></div>
<div id="member-login-section">
    <form action="/member/login" method="post" id="login-form">
        <h2>로그인</h2>


        <div class="input-area">
            <p>계정 이름으로 로그인</p>
            <input th:if="${member} == null" type="text" name="memberId" placeholder="Id" autofocus>
            <input th:unless="${member} == null" type="text" name="memberId" placeholder="Id">
        </div>

        <div class="input-area">
            <p>비밀번호</p>
            <input th:if="${member} == null" type="text" name="memberPassword" placeholder="Password">
            <input th:unless="${member} == null" type="text" name="memberPassword" placeholder="Password" autofocus>
            <p id="login-check-result" style="margin-top: 5px;">
                <span  id="login-check" style="color: red">아이디 또는 비밀번호를 잘못 입력했습니다. </span>
            </p>
        </div>

        <input type="button" class="btn-1" style="margin-top: 0px;" value="로그인" onclick="login_check()">
    </form>
</div>
<div th:replace="/components/footer :: footer"></div>
</body>
<script>


    const login_check = () => {
        const id = document.querySelector("input[name='memberId']").value;
        const password = document.querySelector("input[name='memberPassword']").value;
        const loginCheck = document.querySelector("#login-check");

        if (id.length == 0) {
            document.querySelector("input[name='memberId']").focus();
            loginCheck.innerHTML = "아이디를 입력하세요";
            loginCheck.style.color = "red";
            loginCheck.style.display = "block";
        } else if (password.length == 0) {
            document.querySelector("input[name='memberPassword']").focus();
            loginCheck.innerHTML = "비밀번호를 입력하세요";
            loginCheck.style.color = "red";
            loginCheck.style.display = "block";
        } else {
            document.getElementById("login-form").submit();
        }
    }
</script>
</html>


