<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div th:replace="/components/header :: header"></div>
<div id="section">
    <table class="table table-striped">
        <tr>
            <th>가입번호</th>
            <td th:text="${member.id}"></td>
        </tr>
        <tr>
            <th>아이디</th>
            <td th:text="${member.memberId}"></td>
        </tr>
        <tr>
            <th>이메일</th>
            <td th:text="${member.memberEmail}"></td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td th:text="${member.memberPassword}"></td>
        </tr>
        <tr>
            <th>이름</th>
            <td th:text="${member.memberName}"></td>
        </tr>
        <tr>
            <th>탄생일</th>
            <td th:text="${member.memberBirth}"></td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td th:text="${member.memberMobile}"></td>
        </tr>
    </table>
    <div class="container">
        <button onclick="member_list()">목록</button>
        <button onclick="member_update()">수정</button>
        <button onclick="member_delete()">삭제</button>
    </div>
    <div class="pass-check">
    </div>
</div>
<div th:replace="/components/footer :: footer"></div>
</body>
<script th:inline="javascript">
    const member_list=()=> {
        location.href = "/";
    }
    const member_update=()=>{
        const id=[[${member.id}]]
        axios({
            method:"put",
            url:"/member/"+id,
            data:{
                id:id
            }
        }).then(res=>{
            console.log("수정 성공")
            location.href = "/member/"
        }).catch(err=>{
            alert("실패")
        })
    }
    const member_delete=()=>{
        const id=[[${member.id}]]
        axios({
            method:"delete",
            url: "/member/delete/"+id
        }).then(res=>{
            location.href="/";
        }).catch(err=>{
            alert("삭제실패");
        })
    }

</script>
</html>