<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/memberDetail.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div th:replace="/components/header :: header"></div>
<div id="member-detail-section" style="margin-top: 150px">
    <table class="top-table">
        <tr>
            <th>회원정보</th>
            <th>
                <button class="btn-2" onclick="member_update()"><i class="bi bi-pencil-square"></i></button>
                <button class="btn-2" onclick="member_list()" th:if="${user.memberId} == 'admin'">회원목록</button>
                <button class="btn-2" onclick="member_delete()" th:if="${user.memberId} == 'admin'">회원삭제</button>
            </th>
        </tr>
    </table>

    <table class="member-table">
        <tr style="display: none">
            <th>가입번호</th>
            <td th:text="${user.id}"></td>
        </tr>
        <tr>
            <th>ID</th>
            <td th:text="${user.memberId}"></td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td th:text="${user.memberEmail}"></td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td th:text="${user.memberPassword}" style="display: none"></td>
            <td style="color: #00d01b"> ✅ 안전하게 보호되고 있습니다.</td>
        </tr>
        <tr>
            <th>이름</th>
            <td th:text="${user.memberName}"></td>
        </tr>
        <tr>
            <th>생년월일</th>
            <td th:text="${user.memberBirth}"></td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td th:text="${user.memberMobile}"></td>
        </tr>
        <tr>
            <th>회원탈퇴</th>
            <td><button class="btn-3-danger" onclick="member_delete()">회원탈퇴</button></td>
        </tr>
    </table>

    <table class="top-table">
        <th> 포인트 내역</th>
    </table>
    <table class="point-table">
        <tr style="display: none">
            <th>비밀번호</th>
            <td th:text="${user.memberPassword}"></td>
        </tr>
        <tr>
            <th id="cash-icon"><i class="bi bi-currency-exchange"></i></th>
        </tr>
        <tr>
            <th id="you-have-n-points">
                <span th:text="${user.memberId}"></span> 님이 보유하신 포인트
            </th>
        </tr>
        <tr>
            <th id="points-amount">
                <span th:text="${user.totalPoint}"></span> POINT
            </th>
        </tr>
        <tr>
            <th id="charge-list">
                <button class="btn-3" onclick="point_charge()">충전하기</button>
                <button class="btn-3" onclick="point_history()">내역보기</button>
            </th>
        </tr>
    </table>
    <div class="pass-check">
    </div>
</div>

</div>
<div th:replace="/components/footer :: footer"></div>
</body>
<script th:inline="javascript">
    const member_list=()=> {
        location.href = "/member/";
    }
    const member_update = () => {
        location.href = "/member/update"
    };

    const member_delete = () => {
        const id = [[${user.id}]];
        axios({
            method: "delete",
            url: "/member/delete/" + id,
            withCredentials: true // 인증 정보 포함
        }).then(res => {
            location.href = "/";
        }).catch(err => {
            alert("삭제 실패");
        });
    };

    const point_charge = () => {
        // location.href = "/point/charge";
        window.open(
            "/point/charge",
            "HEXAGON 포인트 충전",
            "width=530, height=625, top=50, left=50"
        )
    }
    const point_history = () => {
        location.href = "/point/history";
    }

</script>
</html>