<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<head>

</head>
<body>

<form action="/member/login" method="post">
  <input type="hidden" name="redirectURI" th:value="${redirectURI}">
  <input type="text" name="memberId"  placeholder="Id">
  <input type="text" name="memberPassword"  placeholder="Password">
  <p id="login-result" style="color: red; display:none">
    이메일이나 비밀번호가 일치하지 않습니다.
  </p>
  <input type="button" value="로그인" onclick="login()">
</form>

</body>
<script>
  const login=()=>{
    const memberId=document.querySelector('input[name="memberId"]').value;
    const password=document.querySelector('input[name="memberPassword"]').value;
    const redirectURI=document.querySelector('input[name="redirectURI"]').value;
    axios({
      method:"post",
      url:"/member/login/axios",
      data:{
        memberId:memberId,
        memberPassword:password
      }
    }).then(res=>{
      console.log("res",res)
      location.href=redirectURI;
    }).catch(err=>{
      console.log("err", err)
      document.getElementById("login-result").style.display="block";
    });
  }
</script>
</html>