/*input[type="submit"],*/
/*input[type="button"],*/
/*button {*/
.btn-1 {
    margin-top: 30px;
    background: linear-gradient(to right, #bc3265, #672873) ;
    width: 150px;
    color: white;
    padding: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.btn-1-search {
    /*margin-top: 30px;*/
    background: linear-gradient(to right, #bc3265, #672873) ;
    width: 150px;
    color: white;
    padding: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
}

/*input[type="submit"]:hover,*/
/*input[type="button"]:hover,*/
/*button {*/

.btn-1:hover,
.btn-1-search:hover {
    background: linear-gradient(to right, #e02c6f, #692577) ;
}

.drop-btn {
    background-color: black;
}

.btn-2 {
    margin-right: 10px;
    float: right;
    background: linear-gradient(to right, #692577, #4a2577) ;
    border: none;
    outline: none;
    border-radius: 1px;
    color: white;
    font-size: 10px;
    padding: 5px 10px 5px 10px;

}

.btn-3 {
    margin-right: 10px;
    background: linear-gradient(to right, #0032fc, #0077ff) ;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
}

.btn-3:hover {
    background: linear-gradient(to right, #0065fc, #00bbff) ;

}