#game-nav {
    background: linear-gradient(to right, #bc3265, #672873) ;
}

#game-nav ul {
    list-style-type: none;
    overflow: hidden;
    width: 90%;
    margin-bottom: 0px;
}

#game-nav ul li.left {
    float: left;
    margin-right: 20px;
    padding: 10px 10px;
}

#game-nav ul li.left a {
    padding: 0px;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#game-nav ul li.right {
    padding: 10px 10px;
}

#game-nav ul li.right a {
    float: right;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
