/*슬라이드쇼 스타일 여기서부터*/
* {box-sizing: border-box}

body {
    margin: 0;
    background: linear-gradient(#201425, #341d34);
    background-size: cover;
    position: center;
    height: auto;
}

#game-detail-section {
    width: 66%;
    margin-top: 50px;
    margin-bottom: 150px;
    color: #cccccc;
}

#game-detail-section h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    font-weight: bold;
    background: linear-gradient(60deg, #000000, #211526) ;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    width: 100%;
    /*padding: 30px;*/
    position: relative;
}


/* Hide the images by default */
.mySlides {
    display: none;
    width: 100%;
    height: 56%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    text-align: center;
    /*float: left;*/
    margin-top: 30px;
    display: inline-block;
}

.row {
    margin: auto;
    float: left;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.demo:hover {
    opacity: 1;
}

.active {
    opacity: 1;
    border: 2px solid #bc3265;
    border-radius: 5px;
}

#game-detail-section h3 {
    float: left;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 15px;
    font-weight: bold;
    border-bottom: 2px solid #cccccc;
}

#game-detail-area {
    display: block;
}

#release-info {
    display: inline-block;
    float: left;
    width: 40%;
}

#release-info-title {
    float: left;
    width: 100%;
    background-color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    color: #cccccc;
}

#release-info-table {
    float: left;
    width: 100%;
}

#release-info-table th,
#release-info-table td {
    padding: 10px;
    background-color: #181018;
}

.price-info-dsc {
    display: inline-block;
    float: left;
    width: 60%;
}

.price-info {
    display: inline-block;
    float: left;
    width: 60%;
    margin-top: 4%;
}

.discount {
    width: 100%;
    display: block;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.discount .released-price {
    float: right;
    display: inline-block;
    text-align: right;
    font-size: 30px;
    text-decoration: line-through;
    color: #595959;
}

.discount .discount-rate {
    float: right;
    display: inline-block;
    text-align: center;
    background: linear-gradient(to right, #c40038, #c7005f);
    width: 8%;
    font-weight: bold;
    padding: 5px;
    margin-right: 20px;
}

.discount .released-price-none,
.discount .discount-rate-none {
    display: none;
}

.sales-price {
    display: block;
    float: right;
    text-align: right;
    font-size: 48px;
    width: 100%;
}

.purchase-button {
    display: block;
    width: 100%;
    float: left;
}

#game-intro-area {

}

#introduction {
    margin-top: 30px;
    padding: 10px;
    margin-bottom: 30px;
}


.lower-buttons {
    margin-top: 10px;
    margin-bottom: 50px;
}

#review {
    display: inline-block;
    width: 100%;
}

.review-write {
    background-color: #230f23;
    width: 100%;
    padding: 30px;
    position: relative;
}

.eval-this-game {
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
}

.review-write input[type="text"] {
    width: 50%;
    padding: 8px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #8400ff;
    background-color: inherit;
    color: white;
    margin-bottom: 5px;
}

.review-write textarea {
    background-color: inherit;
    padding: 8px;
    margin-top: 30px;
    width: 100%;
    height: 200px;
    resize: none;
    border: none;
}

.review-write textarea:focus {
    outline: none;
}

#star-area {
    margin-top: 10px;
}

#review-list {
    width: 99%;
    padding: 30px 0px 30px 30px;

}

#no-review {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #cccccc;
}

#star-area {
    display: inline-block;
    direction: rtl;
    border:0;
}

#star-area legend{
    text-align: right;
}

.review-write input[type=radio]{
    display: none;
}

.review-write label{
    font-size: 1.5em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}

.review-write label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.review-write label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.review-write input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.review-box {
    display: inline-block;
    width: 100%;
    margin: 10px;
    border-top: 1px solid #8400ff;
}

.review-writer-box {
    background-color: #261026;
    padding: 10px;
}

.review-contents-box {
    background-color: #230f23;
    padding: 30px;
}

#person-icon {
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    padding: 20px 30px 30px 30px;
}

#wrt-cr {
    display: inline-block;
}

#wrt-cr span {
    font-size: 15px;
    font-weight: bold;
}

.review-contents-box {
    min-height: 50px;
}

.need-login {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; /* 수직 정렬 */

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; /* 수평 정렬 */

    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    position: absolute;
}

.need-login p {
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}