/* 상단 배너 이미지 */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* 여기까지 */
.game-list-section {
    display: inline-block;
    float: left;
    width: 74%;
}

.genre-list-section {
    display: inline-block;
    width: 25%;
}


.paging-list {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.paging-list h3 {
    padding: 10px;
    background: linear-gradient(to right, #8400ff, #bc3265);
    color: #cccccc;
    font-weight: bold;
}

.game-list-section .game-card {
    display: inline-block;
    justify-content: center;
    width: 24.5%;
    color: #cccccc;
    padding: 5px;
    margin-bottom: 10px;
}

.game-release-section .game-card,
.game-discount-section .game-card {
    display: inline-block;
    justify-content: center;
    width: 19.5%;
    color: #cccccc;
    padding: 5px;
    margin-bottom: 10px;
}

.genre-list-section .game-card {
    display: inline-block;
    justify-content: center;
    width: 100%;
    color: #cccccc;
    padding: 5px;
    margin-bottom: 10px;
}

.game-card:hover {
    cursor: pointer;
    border: 2px solid #cccccc; /* 네온 테두리 색상 및 두께 설정 */
    box-shadow: /* 네온 테두리에 대한 그림자 효과 설정 */
            0 0 1px #fff,
            0 0 2px #fff,
            0 0 4px #bb3267,
            0 0 8px #bb3267,
            0 0 12px #bb3267,
            0 0 16px #bb3267,
            0 0 20px #bb3267;
}

.game-info {
    background-color: #1c1a1c;
    border-top: 3px solid #8400ff;
    padding: 5px 10px 5px 10px;
}

.game-info a {
    text-decoration: none;
    color: #cccccc;
    font-weight: bold;
    font-size: 16px;
}

.game-info p {
    margin-bottom: 0;
    color: #e9bafe;
    font-size: 13px;
}

.game-price {
    background-color: #313131;
    padding: 10px;
}

.dc-rate {
    display: inline-block;
    background: linear-gradient(45deg, #1ab963, #00ff77);
    color: #000000;
    padding: 3px;
    font-weight: bold;
    font-size: 11px;
}

.rel-price-none {
    display: inline-block;
    color: #646464;
    text-decoration: line-through;
}

.sal-price {
    display: inline-block;
    font-weight: bold;

}

.container {
    width: 95%;
}

