/*슬라이드쇼 스타일 여기서부터*/
* {box-sizing: border-box}

body {
    margin: 0;
    background: linear-gradient(#201425, #341d34);
    background-size: cover;
    position: center;
    height: auto;
}

#game-detail-section {
    width: 66%;
    margin-top: 50px;
    margin-bottom: 150px;
    color: #cccccc;
}

#game-detail-section h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    font-weight: bold;
    background: linear-gradient(60deg, #000000, #211526) ;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    width: 100%;
    /*padding: 30px;*/
    position: relative;
}


/* Hide the images by default */
.mySlides {
    display: none;
    width: 100%;
    height: 56%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    text-align: center;
    /*float: left;*/
    margin-top: 30px;
    display: inline-block;
}

.row {
    margin: auto;
    float: left;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.demo:hover {
    opacity: 1;
}

.active {
    opacity: 1;
    border: 2px solid #bc3265;
    border-radius: 5px;
}
