body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../images/gamSv_wallpaper.jpg");
    background-size: cover;
    position: center;
    height: auto;
}

#game-save-form {
    width: 66%;
    margin-top: 50px;
    margin-bottom: 150px;
    color: #cccccc;
}

#game-save-form h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    font-weight: bold;
    background: linear-gradient(60deg, #000000, #280021) ;
}

#game-info-table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

#game-info-table th {
    width: 20%;
    padding: 10px;
}

#game-info-table input[type="text"],
#game-info-table input[type="date"],
#game-info-table select {
    width: 50%;
    padding: 8px;
    border: none;
    background-color: #341d34;
    color: white;
}

#game-intro-table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

#game-intro-table th {
    margin-top: 10px;
    font-size: 24px;
    padding: 10px;
}

#game-intro-table td {
    float: left;
    padding: 10px;
}

.note-editable {
    background-color: #341d34;
    width: 100%;
}

.note-btn.btn.btn-default {
    background-color: transparent;
    border: none;
    color: #000000;
}

.panel-heading .note-toolbar {
    color: #cccccc;
    background-color: #000000;
    border-color: #ddd;
}

#game-intro-table input[type="text"] {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #341d34;
    color: white;

}