* {
    /*box-sizing: border-box;*/
    margin: auto;
    text-decoration: none;
    border-collapse: collapse;
}

#header {
    top: 0;
    width: 100%;
    background-color: #000000;
    border: none;
    color: #ffffff;
    height: 100px;
    position: fixed;
    z-index: 999;
}

#header ul {
    list-style-type: none;
    overflow: hidden;
    width: 90%;
    margin-bottom: 0px;
}

#header ul li {
    /*width: 10%;*/
    float: right;
    margin: auto;
}

#search-area.search-area {
    box-sizing: border-box;
    background: black;
    text-align: center;
    float: left;
    width: 40%;
    height: 100px;
    /*margin-left: 200px;*/
    margin: auto;
    /*margin-right: 300px;*/
    padding-top: 28px;
    /*padding-bottom: 30px;*/
}

select#type {
    padding: 10px;
    border: none;
    background-color: #341d34;
    color: white;
    font-weight: bold;

}

#search-area.search-area input[type="text"] {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #341d34;
    color: white;
}

#header ul li.right {
    padding: 35px 30px;
}

#header ul li.right a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}


#header ul li.left {
    float: left;
    margin: auto;
    padding-top: 15px;
}

#header ul li .left a {
    padding: 0px;
}


#section {
    background-color: #201425;
    min-height: 100%;
    height: auto;
    /*padding-bottom: 300px;*/
}

#section img {
    width: 100%;
}

#footer {
    background-color: #000000;
    width: 100%;
    height: 300px;
    position: relative;
    /*transform: translateY(-100%);*/
    bottom: 0;
}

#footer ul {
    list-style-type: none;
    overflow: hidden;
    padding-top: 30px;
}

#footer ul li {
    float: left;
    margin: auto;
}

#footer ul li a {
    padding-top: 15px;
    padding-right: 30px;
    color: #cccccc;
    text-decoration: none;
    font-weight: bold;
}

#footer ul span {
    float: left;
    padding-right: 30px;
    color: #cccccc;
}

#footer p {
    float: left;
    padding-top: 30px;
    text-align: center;
    color: #cccccc;
}




