body {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../images/pntLst_wallpaper.jpg");
    background-size: cover;
    position: center;
    height: auto;
}

#point-list-section {
    margin-top: 60px;
}

#point-list-section h2 {
    text-align: center;
    color: #cccccc;
}

.table-point-list {
    width: 90%;
    color: #cccccc;
    border-radius: 10px;
}

.table-point-list thead {
    text-align: center;
    background-color: #1e1e1e;
}

.table-point-list tbody {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
}

.table-point-list th {
    padding: 10px;
}

.table-point-list td {
    padding: 10px;
}