<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HEXAGON</title>
    <link rel="icon" href="/images/내%20프로젝트.png" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/gameNav.css}">
    <link rel="stylesheet" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div th:replace="/components/header :: header"></div>
<div th:if="${#httpServletRequest.remoteUser != null}" th:replace="/components/gameNav :: gameNav"></div>
<div id="section" style="margin-top: 150px;">
<img src="/images/index_wallpaper.gif">
</div>
<div th:replace="/components/footer :: footer"></div>
</body>
</html>