<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>포인트 내역</title>
    <link rel="icon" href="/images/내%20프로젝트.png" type="image/x-icon">    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/memberDetail.css}">
    <link rel="stylesheet" th:href="@{/css/memberList.css}">
    <link rel="stylesheet" th:href="@{/css/pointList.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div th:replace="/components/header :: header"></div>
<div id="point-list-section" style="margin-top: 150px">
    <h2><span th:text="${session.loginId}"></span><span> 님의 포인트 내역</span></h2>
    <div class="container" id="paging-list">
        <div th:if="${pointList !=null}" id="member-list">
            <table class="table-point-list">
                <thead>
                <tr>
                    <th scope="col">현재포인트</th>
                    <th scope="col">충전포인트</th>
                    <th scope="col">사용포인트</th>
                    <th scope="col">일시</th>
                    <th scope="col">비고</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="point: ${pointList}">
                    <td th:text="${point.totalPoint}"></td>
                    <td style="color: #00d01b">
                        <span>+</span>
                        <span th:text="${point.chargedPoint}"></span>
                    </td>
                    <td style="color: #ff0000">
                        <span>-</span>
                        <span th:text="${point.usedPoint}"></span>
                    </td>
                    <td th:text="${point.createdAt}"></td>
                    <td th:text="${point.status}"></td>
                </tr>
                </tbody>
            </table>

            <div class="point-page-container">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/member(page=1)}">
                            <span>첫 페이지</span>
                        </a>
                    </li>
                    <li th:class="${pointList.first} ? 'none'" : class="page-item">
                        <a class="page-link"
                           th:href="${pointList.first} ? '#' : @{/point(page=${pointList.number})}">
                            <span><</span>
                        </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                        th:class="${page == pointList.number+1}?'page-item-active'" class="page-item">
                        <a th:href="@{/point(page=${page})}" class="page-link"
                           th:text="${page}"></a>
                    </li>
                    <li th:class="${pointList.last}?'none'">
                        <a class="page-link"
                           th:href="${pointList.last}?'#': @{/point(page=${pointList.number+2})}">
                            <span>&gt;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/point(page=${pointList.totalPages})}">
                            <span>끝 페이지</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div th:unless="${pointList!=null}">
            <h1>검색결과가 없습니다!!</h1>
        </div>
    </div>
</div>
</body>
</html>