<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" th:href="@{/css/pointCharge.css}">
    <link rel="stylesheet" th:href="@{/css/buttons.css}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<h4>HEXAGON 포인트 충전</h4>
<div class="card-body bg-white mt-0 shadow">
    <input type="text" id="how-much" readonly>
    <div id="check-how-much">
        <label class="box-radio-input" onclick="howMuch()"><input type="radio" name="cp_item" value="5000"><span>5,000원</span></label>
        <label class="box-radio-input" onclick="howMuch()"><input type="radio" name="cp_item" value="10000"><span>10,000원</span></label>
        <label class="box-radio-input" onclick="howMuch()"><input type="radio" name="cp_item" value="15000"><span>15,000원</span></label>
        <label class="box-radio-input" onclick="howMuch()"><input type="radio" name="cp_item" value="20000"><span>20,000원</span></label>
        <label class="box-radio-input" onclick="howMuch()"><input type="radio" name="cp_item" value="25000"><span>25,000원</span></label>
        <label class="box-radio-input" onclick="howMuch()"><input type="radio" name="cp_item" value="30000"><span>30,000원</span></label>
        <label class="box-radio-input" onclick="howMuch()"><input type="radio" name="cp_item" value="35000"><span>35,000원</span></label>
        <label class="box-radio-input" onclick="howMuch()"><input type="radio" name="cp_item" value="40000"><span>40,000원</span></label>
        <label class="box-radio-input" onclick="howMuch()"><input type="radio" name="cp_item" value="50000"><span>50,000원</span></label>
    </div>
    <p style="color: #ac2925; margin-top: 30px">카카오페이의 최소 충전금액은 5,000원이며 <br/>최대 충전금액은 50,000원 입니다.</p>
    <button type="button" id="charge-kakao">결제</button>
</div>

<script>
    $('#charge-kakao').click(function () {
        // getter
        let IMP = window.IMP;
        IMP.init('imp00812478');
        const money = $('input[name="cp_item"]:checked').val();
        const memberId = '[[${member.memberId}]]';
        const memberName = '[[${member.memberName}]]';
        const memberMobile = '[[${member.memberMobile}]]';
        const totalPoint = '[[${member.totalPoint}]]';
        const id = '[[${member.id}]]';
        console.log(memberId)
        console.log(memberName)
        console.log(memberMobile)
        console.log(totalPoint)
        console.log(id)

        IMP.request_pay({
            pg: 'kakaopay.TC0ONETIME',
            merchant_uid: 'merchant_' + new Date().getTime(),

            name: '주문명 : 포인트 충전',
            amount: money,
            member_id: memberId,
            member_name: memberName,
            member_mobile: memberMobile,
        }, function (rsp) {
            console.log(rsp);
            if (rsp.success) {
                let msg = '결제가 완료되었습니다.';
                msg += '\n결제 금액 : ' + rsp.paid_amount;

                axios({
                    method: "post",
                    url: "/point/charge",
                    data: {
                        usedPoint: 0,
                        chargedPoint: parseInt(money),
                        totalPoint: parseInt(totalPoint) + parseInt(money),
                    }
                })
                    .then(function (response) {
                        console.log("포인트 저장 요청 완료");
                        console.log(response.data); // 응답 데이터 확인
                        // 알림창 띄운 후 확인 버튼을 누르면 창이 종료되도록 처리
                        alert(msg);
                        closeWindow();
                    })
                    .catch(function (error) {
                        console.error("포인트 저장 요청 실패:", error);
                        alert("결제를 실패하셨습니다.")
                        location.href = "/member/detail";
                    });
            } else {
                let msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
                alert(msg);
            }
        });
    });

    const howMuch = () => {
        const checked = document.querySelector("input[name='cp_item']:checked").value;
        const howMuch = document.getElementById("how-much");
        howMuch.value = checked;
    }

    // 현재 창을 닫기 위한 함수
    function closeWindow() {
        window.opener.postMessage("chargeComplete", "*");
        window.close();
    }
</script>
</body>
</html>