<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<div id="section">
  <div id="saveForm">
    <form action="/game/save" method="post" enctype="multipart/form-data">
      <h2>게임 등록</h2>
      게임 제목: <input type="text" name="gameTitle" id="gameTitle" placeholder="제목" required>
      <div class ="Genre-select" >
      게임 장르:
      <select name="gameGenre" id="gameGenre">
        <option value="0">RTS</option>
        <option value="1">슈팅</option>
        <option value="2">퍼즐</option>
        <option value="3">공포</option>
        <option value="4">액션</option>
        <option value="5">모험</option>
        <option value="6">RPG</option>
      </select>
      </div>
      게임 제작사 : <input type="text" name="gameCreator" id="gameCreator" placeholder="제작사" required><br>
      배급사 : <input type="text" name="gameDistr" id="GameDistr">
      <div class ="Grade-select">
      게임 등급 :
      <select name="gameGrade" id="gameGrade">
        <option value="0">전체 이용가</option>
        <option value="1">12세 이용가</option>
        <option value="2">15세 이용가</option>
        <option value="3">18세 이용가</option>
      </select>
      </div>
      출시일 : <input type="date" name="createdAt"><br>
      출시가격 : <input type="text" name="releasePrice" id="releasePrice" oninput="calculateSalesPrice()"><br>
      할인율 : <input type="text" name="discountRate" id="discountRate" oninput="calculateSalesPrice()"><br>
      판매가격 : <input type="text" name="salesPrice" id="salesPrice" placeholder="가격과 할인율을 입력해주세요" readonly><br>
      게임 설명 : <textarea name="gameIntro" id="GameIntro" cols="30" rows="10" class="form-control"></textarea><br>
      파일첨부 : <input type="file" name="gameFile" multiple><br>
               <input type="submit" value="게임 등록">
    </form>
  </div>
</div>
</body>
<script>
  function calculateSalesPrice() {
    let releasePrice = parseFloat(document.getElementById("releasePrice").value);
    let discountRate = parseFloat(document.getElementById("discountRate").value);
    let salesPrice = (releasePrice * (100 - discountRate))/100;

    // 판매가격 필드에 값 설정
    document.getElementById("salesPrice").value = salesPrice.toFixed(0);
  }
</script>
</html>