<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
    <link rel="icon" href="/images/내%20프로젝트.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/gameNav.css}">
    <link rel="stylesheet" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/bucket.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
</head>

<body>
<div th:replace="/components/header :: header"></div>
<div th:replace="/components/gameNav :: gameNav"></div>
<div id="bucket-section">
    <div th:if="${bucket}">
        <p>장바구니가 비어있습니다.</p>
    </div>
    <div th:if="${!bucket}" class="bucket">
        <h2>장바구니</h2>
        <div class="bucket-list" th:each="bucket : ${bucketList}">
            <p th:text="${bucket.memberId}" style="display:none;"></p>
            <div class="bucket-game">
                <div class="bucket-thumbnail">
                    <img class="demo cursor" th:src="@{|/upload/${bucket.thumbnailUrl}|}"
                         style="width: 100%; height: 20vh; object-fit: fill" onclick="currentSlide(i)" alt="">
                </div>
                <div class="bucket-game-info">
                    <p th:text="${bucket.gameId}" style="display: none"></p>
                    <p th:text="${bucket.gameTitle}" class="bucket-gt"></p>
                    <div class="bucket-price">
                        <div class="bucket-rel-price">
                            <p>상품금액</p>
                            <p><span>&#8361; </span><span th:text="${bucket.releasePrice}"></span></p>
                        </div>
                        <div class="minus-box">
                            <i class="fa fa-solid fa-minus"></i>
                        </div>
                        <div class="bucket-dc-price">
                            <p>할인금액</p>
                            <p th:text="${bucket.discountRate}" style="display: none"></p>
                            <p><span>&#8361; </span><span th:text="${bucket.releasePrice - bucket.salesPrice}"></span>
                            </p>
                        </div>
                        <div class="equal-box">
                            <i class="fa fa-solid fa-equals"></i>
                        </div>
                        <div class="bucket-sal-price">
                            <p>주문금액</p>
                            <p><span style="color: #00d01b">&#8361; </span><span th:text="${bucket.salesPrice}"
                                                                                 style="color: #00d01b"></span></p>
                        </div>
                    </div>
                </div>
                <button type="button" class="delete-bucket" th:onclick="deleteById([[${bucket.id}]])" title="장바구니에서 삭제">
                    <i class="bi bi-x-lg"></i></button>
                <p style="display: none">총 결제금액: <span th:text="${bucket.buyAmount}"></span></p>
                <p style="display: none;">총 결제금액: <span th:text="${totalSalesPrice}"></span></p>
            </div>
        </div>
        <div class="bucket-tp">
            <p>총 결제금액
            <p>
            <p><span>&#8361; </span><span th:text="${totalSalesPrice}"></span></p>
            <div>
                <button th:onclick="purchaseAllItems()" class="btn-4">결제하기</button>
            </div>
        </div>

    </div>
    <div>
        <!-- 여기에 추가적인 내용을 작성하시면 됩니다. -->
    </div>
</div>
<div th:replace="/components/footer :: footer"></div>
</body>
<script th:inline="javascript">

    // 이벤트 리스너 등록을 위한 함수
    function registerChargeCompleteListener() {
        window.addEventListener("message", function (event) {
            if (event.data === "chargeComplete") {
                // 충전이 완료되었다는 메시지를 받으면 새로고침
                location.reload();
            }
        });
    }

    // 이벤트 리스너 등록 여부 확인 후 등록
    if (!window.chargeCompleteListenerRegistered) {
        registerChargeCompleteListener();
        window.chargeCompleteListenerRegistered = true;
    }

    const bucketList = [[${bucketList}]]; // 데이터를 직접 JavaScript 변수로 가져옴
    const totalSalesPrice = [[${totalSalesPrice}]]
    const totalPoint = [[${totalPoint}]]

    const purchaseAllItems = () => {
        console.log(totalPoint);
        console.log(totalSalesPrice);

        if (totalSalesPrice > totalPoint) {
            // 포인트가 부족할 경우 포인트 충전 여부 확인
            if (confirm("포인트가 부족합니다. 충전하시겠습니까?")) {
                // 포인트 충전 화면 URL
                const pointChargeUrl = "/point/charge";
                // 새 창의 옵션을 설정합니다. 새 창의 크기, 위치 등을 조절할 수 있습니다.
                const windowOptions = "width=528,height=624,scrollbars=yes,resizable=yes";
                // 새 창을 엽니다.
                const newWindow = window.open(pointChargeUrl, "_blank", windowOptions);
                // 포인트 충전 결과를 확인하기 위한 이벤트 리스너 등록
                window.addEventListener("message", function (event) {
                    // event.data 값이 "chargeComplete"인 경우, 충전이 완료되었다는 의미
                    if (event.data === "chargeComplete") {
                        // 충전이 완료되었다는 메시지를 받으면 새 창을 닫음
                        newWindow.close();
                    }
                });
            } else {
                alert("취소되었습니다.");
            }
        } else {
            // 포인트가 충분하면 상품 구매 수행
            purchaseItems(bucketList);
        }
    };

    const purchaseItems = (bucketList) => {
        const gameIds = bucketList.map(bucket => bucket.gameId);
        axios.post('/trade/saveBatch', gameIds)
            .then(response => {
                alert('상품 구매가 완료되었습니다.');
                location.href = "/game"
            })
            .catch(error => {
                // 구매 실패 시 처리 로직
                alert('상품 구매에 실패했습니다.');
            });
    };


    const deleteById = (id) => {
        axios.delete("/bucket/" + id)
            .then(() => {
                alert("장바구니에서 삭제되었습니다.")
                location.reload();
            }).catch(() => {
            alert("요청 실패")
        });

    }


</script>
</html>
